@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap');

:root{
    --clr-Yellow: #f4d04e;
    --clr-White: #ffffff;
    --clr-Grey: #808080;
    --clr-Black: #121212;

    --ff-main: "Figtree", sans-serif;
    --fs-main: 16px;
    --fw-600: 600;
    --fw-800: 800;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-main);
    font-size: var(--fs-main);
    font-weight: var(--fw-600);
    color: var(--clr-Grey);
    background: var(--clr-Yellow);
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    line-height: 1.1;
}

.blog-category, .blog-meta, .blog-title, .author-name {
    color: var(--clr-Black);
}

.blog-category {
    display: inline-block;
    font-weight: var(--fw-800);
    padding: 0.5rem 0.8rem;
    border-radius: 0.2rem;
    background: var(--clr-Yellow);
}

.blog-meta {
    font-size: 14px;
}

.blog-title {
    font-weight: var(--fw-800);
    font-size: 1.4rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.blog-title:hover {
    color: var(--clr-Grey);
}

.author-name {
    font-size: 14px;
    font-weight: var(--fw-800);
}

.wrapper {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.blog-container {
    background: var(--clr-White);
    max-width: 23em;
    padding: 1.5rem;
    margin: 0 1.5rem;
    border-radius: 1rem;
    box-shadow: 7px 7px 0 var(--clr-Black);
    transition: box-shadow 0.3s ease;
}

.blog-container > * + * {
    margin-top: 1rem;
}

.blog-container:hover {
    box-shadow: 10px 10px 0 var(--clr-Black);
}

.author-data {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author-image {
    width: 3rem;
    border-radius: 50%;
}

.blog-image {
    border-radius: 0.8rem;
}